main{margin-bottom: 50rem;}
#exhib_more {margin-top: 12rem;}
#exhib_more .inner{display: flex; flex-direction: column; gap: 5rem;}

#exhib_more{height: 100%;}
#exhib_more .buttons{
   display: flex; align-items: center;
   justify-content: flex-start;
}

#exhib_more .buttons li button{
   display: flex; align-items: center;justify-content: center;
   width: 14rem; height: 5rem;
   border-bottom: 2px solid var(--main-color);
   color: var(--main-color);
   font-size: 2rem;
   font-family: var(--eng-font);
   margin-left: 4rem;

}
.buttons_Wrap ul{
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   row-gap: 2rem;
   place-items: center center;

}

.buttons_Wrap li {
   width: 30rem; height: 60rem;
   overflow: hidden;
}
.buttons_Wrap li p{
   font-size: 1.6rem; padding: 1rem 0;
   color: var(--main-color);
}
.buttons_Wrap li img{
   width: 100%;
   overflow: hidden;
   object-position: top;
   object-fit: cover;
}
