/* font.css */

@charset "utf-8";

/* 한글 SUIT */
@font-face {
   font-family: 'SUIT';
   src: url(../fonts/SUIT-Bold.woff2);
   font-weight: 700;
}
@font-face {
   font-family: 'SUIT';
   src: url(../fonts/SUIT-Medium.woff2);
   font-weight: 500;
}
@font-face {
   font-family: 'SUIT';
   src: url(../fonts/SUIT-Regular.woff2);
   font-weight: 400;
}
/* 한글 NotoSansKR */
@font-face {
   font-family: 'NotoSansKR';
   src: url(../fonts/NotoSansKR-Bold.ttf);
   font-weight: 700;
}
@font-face {
   font-family: 'NotoSansKR';
   src: url(../fonts/NotoSansKR-Medium.ttf);
   font-weight: 500;
}
@font-face {
   font-family: 'NotoSansKR';
   src: url(../fonts/NotoSansKR-Regular.ttf);
   font-weight: 400;
}
/* 한글 Pretendard */
@font-face {
	font-family: 'Pretendard';
	font-weight: 400;
	font-display: swap;
	src: url(../fonts/PretendardVariable.ttf);
}

/* 한글 KOPUBWORL돋움*/
@font-face {
	font-family: 'Kopubworld';
	font-weight: 300;
	font-display: swap;
	src: url(../fonts/KOPUBWORLD_TTF_FONTS/KoPubWorld\ Dotum\ Light.ttf);
}
@font-face {
	font-family: 'Kopubworld';
	font-weight: 400;
	font-display: swap;
	src: url(../fonts/KOPUBWORLD_TTF_FONTS/KoPubWorld\ Dotum\ Medium.ttf);
}
@font-face {
	font-family: 'Kopubworld';
	font-weight: 700;
	font-display: swap;
	src: url(../fonts/KOPUBWORLD_TTF_FONTS/KoPubWorld\ Dotum\ Bold.ttf.ttf);
}

/* 영문 Times new roman */

@font-face {
   font-family: 'Open sans';
   src: url(../fonts/Open_Sans/static/OpenSans_Condensed-Medium.ttf);
   font-weight: 400;
}
@font-face {
   font-family: 'Open sans';
   src: url(../fonts/Open_Sans/static/OpenSans-Bold.ttf);
   font-weight: 700;
}
@font-face {
   font-family: 'Times new roman';
   src: url(../fonts/Times\ New\ Roman.ttf);
   font-weight: 400;
}
@font-face {
   font-family: 'Montserrat';
   src: url(../fonts/Montserrat-Bold.woff2);
   font-weight: 700;
}
@font-face {
   font-family: 'Montserrat';
   src: url(../fonts/Montserrat-ExtraBold.woff2);
   font-weight: 800;
}
@font-face {
   font-family: 'Montserrat';
   src: url(./fonts/Montserrat-Medium.woff2);
   font-weight: 500;
}

/* 영문 BellMt */
@font-face {
   font-family: 'Bell Mt ';
   src: url(./fonts/bell-mt.ttf);
   font-weight: 400;
}

/* 영문 helvetica */
@font-face {
   font-family: 'helvetica';
   src: url(../font/helvetica/Helvetica\ Light.ttf);
   font-weight: 300;
}
@font-face {
   font-family: 'helvetica';
   src: url(../font/helvetica/Helvetica.ttf);
   font-weight: 400;
}
@font-face {
   font-family: 'helvetica';
   src: url(../font/helvetica/Helvetica\ Bold.ttf);
   font-weight: 700;
}

/* 영문 cera */

@font-face {
   font-family: 'cera';
   src: url(../font/Cera-Pro/Demo_Fonts/Fontspring-DEMO-cerapro-medium.otf);
   font-weight: 400;
}
