@charset "utf-8";
:root{
      --deepyellow-color:#E4B61A;
      --pointyellow-color:#FBE134;
      --main-color:#E9EAEC;
      --blackgray-color:#2A2E34;
      --black-color:#0B0C0C;
      --eng-font: 'helvetica', 'Bell Mt'
   }

/* font-family: 'helvetica','Bell Mt' */
* {
   font-family: 'Pretendard','SUIT','Kopubworld','NotoSansKR', sans-serif;
   font-size: 10px;
}

body{

   background-color: var(--black-color);
   overflow-x: hidden;
   cursor: none;

}


.cursor{
   display: flex; align-items: center; justify-content: center;
   width: 12px; height: 12px; text-align: center;
   background: var(--deepyellow-color);
   position: fixed; left: 10px; top: 10px;
   z-index: 9999;
   border-radius: 50%;
   transform: translate(-50%, -50%) ;
   pointer-events: none;
   color: var(--main-color);
   font-weight: bold;
   font-size: 1.6rem;
}


a{
   color: var(--black-color);
   text-decoration: none;

}

button{
   background: none;
   border: none;

}
a, button{cursor: none; pointer-events: auto;}

h2 {font-size: 5rem;
   font-family: var(--eng-font);

   }
section {height: 100vh;}



/* PC */
.inner {padding: 20px 10%;}

@media  (max-width: 960px) {
   .inner {
      padding: 20px 3%;}

}
header{
   position:fixed; left: 0; right: 0;top: 0; z-index: 100;

}

header .inner {padding: 20px 3%;}

.nav{
   display: flex; justify-content: space-between;
   align-items: center;
   height: 60px;
   font-size: 25px;
   z-index: -10;

}
.nav a{
   color: var(--main-color);
   font-family: var(--eng-font);

}
.util {
   display: flex; justify-content: end; align-items: center;
   width: 600px; gap: 50px;
}
.util button{
   font-size:25px;
   color: var(--main-color);
}

.util ul{
   display: flex; gap: 50px; width: 100%;
   align-items: center; justify-content: center;
   font-size: 18px;
}

.util ul li a:hover{color: var(--deepyellow-color)}

/* visual */

#visual .visual_pin{
   display: block;
   color: var(--main-color);
   margin-top: 6rem;
   position: relative;
}

.visual_pin .greeting_wrap{width: 100%; height: 100%;}

.visual_pin .greeting_wrap .bg {transform: translateX(-4%);}
.visual_pin .greeting_wrap .bg .wave_path_text{color: var(--main-color);}


.greeting_wrap .wrap_inner .txt_wrap{
   display: flex; flex-direction: column; justify-content: center;
   align-items: center; gap: 10rem;
   position: absolute;left: 50%; right: 0; top: 20%;
   transform: translate(-50% ,-30%);
   text-align: center;
}

.greeting_wrap .wrap_inner .txt_wrap .txt p{
   font-size: 4rem; height: 5rem;
   margin-bottom: 1rem;
}

.greeting_wrap .wrap_inner .txt_wrap .txt p:nth-child(2){
   font-size: 2.5rem;
}
.greeting_wrap .wrap_inner .txt_wrap .trans{
   display: flex; flex-direction: row;
   justify-content: center; align-items: center;
   font-size: 10rem; line-height: 10rem;
   text-align: center;
   color: var(--main-color);

}

.greeting_wrap .wrap_inner .txt_wrap .txt_left{
   padding-left: 12rem;
   transform: translateX(-400%);
}
.greeting_wrap .wrap_inner .txt_wrap .txt_right{
   transform: translateX(300%);
}
.greeting_wrap svg text tspan {
   font-size: 45px;
}

.visual_pin .scroll{
   display: flex;
   gap: 1rem;
   flex-direction: column; align-items: center;
   height: 150px;
   position: absolute; bottom: 5rem;
   right: 5%; transform: translateX(-5%);
}
.visual_pin .scroll span{
   display: block;
   transform:rotate(90deg);
   font-size: 1.8rem;
   font-family: var(--eng-font);
   color: var(--deepyellow-color);
}

.visual_pin .scroll .scroll_bar{
   position: relative; height: 100%;
   width: 1px; margin: 30px auto 0;
   background: var(--main-color);
   opacity: 1;
}

.visual_pin .scroll .scroll_bar .animation{
   width: 100%;
   background: var(--deepyellow-color);
   animation: wheel 2s infinite ease-in-out;
}

@keyframes wheel {
   to {
      height: 100%;
   }
   from{
      height: 0%;
   }
}

/* about */
#about{color: var(--main-color);}

#about .inner{
   height: 100%;
   display: flex; align-items: center;
   justify-content: space-between;
}

#about .pofile {
   display: flex; flex-direction: column;
   align-items: center; justify-content: center;
   color: var(--main-color); gap: 7rem;
   width: calc(100%/2); padding: 2.5rem;
}

.pofile .photo{
   width: 35rem; height: 45rem;
   border-radius: 50rem;
   overflow: hidden;
}

.pofile .photo img{
   width: 100%; height: 100%;
   object-fit: cover;
}

.pofile .photo_txt {text-align: center;}

.pofile .photo_txt h3 {
   font-size: 6rem;  margin-bottom: 5rem;
   font-family: 'helvetica','Pretendard','SUIT','NotoSansKR', sans-serif;
}
.pofile .photo_txt p {
   font-size: 1.6rem;
   line-height: 2.5rem;
   text-align: center;
}

.pofile_right{
   display: flex; flex-direction: column; gap: 5rem;
   justify-content: space-between; align-items: flex-start;
   width: calc(100%/2 - 10rem);
   padding: 0 10rem;
   border-left: 1px solid var(--main-color);

}

.pofile_right strong {
   display: block; font-weight: bold;
   font-size: 3.2rem; padding: 2.8rem 0;
}

.pofile_right .info_txt p{font-size: 2.2rem; line-height: 3rem;}

.pofile_right .info_txt span {
   display: block;
   font-size: 1.8rem; line-height: 2rem;
   margin-bottom: 1rem;
}

.pofile_right .pofile_list {
   display: flex; align-items: flex-start;
   justify-content: space-between;
   width: 100%;
}

.pofile_right .list_dayBox {display: flex; gap: 1rem; align-items: center;}
.pofile_right .list_dayBox .list_day{font-size: 2rem; padding: 0.5rem 0;}

.pofile_right .progrma_wrap {display: flex;flex-direction: column; gap: 2rem;}
.pofile_right .progrma_wrap img {width: 5rem; height: 5rem; padding-right: 4rem;}

@media screen and (max-width: 1440px) {
   .pofile_right{gap: 4rem;}
   .pofile_right strong {font-size: 2.2rem;}
   .pofile_right .info_txt p{font-size: 2rem; line-height: 2.5rem;}
   .pofile_right .progrma_wrap img {width: 2.5rem; height: 2.5rem; }
}

/* skill */
#skill{height: inherit;}
#skill .inner {
   height: 100%;
   display: flex; align-items: flex-start; justify-content: space-between;
   font-family: 'helvetica','Bell Mt';

}
#skill .skill_left {
   width: calc(100% / 2); height: 100vh;
   display: flex; justify-content: center;
   align-items: center;
   color: var(--main-color);

}

#skill .scroll_box {
   width: calc(100% / 2);
   /* margin-bottom: 200px; */
}

#skill .scroll_box ul {
   display: flex; flex-direction: column; gap :20rem;
   padding-top: 35rem;
}
#skill .scroll_box li {
   display: flex; flex-direction: column;
   align-items: flex-start; justify-content: space-between;
}


#skill .scroll_box li strong{
   display: block;
   font-size: 5rem; padding: 4rem 0;
   color: var(--deepyellow-color);
}

#skill .scroll_box li p{
   font-size: 1.8rem; line-height: 3.8rem;
   font-family: 'Kopubworld','Pretendard','SUIT','NotoSansKR', sans-serif;
   color: var(--main-color);
   opacity: 0.8;
}

/* projectStart */
#projectStart {margin: auto;}
#projectStart .circle_box{
   display: flex; justify-content: center; align-items: center;
   position: relative; left: 0;top: 50%;
   transform: translateY(-50%);
   background: var(--deepyellow-color);
   overflow: hidden;
  height: calc(100% / 2);
}
.circle{
   animation: circle 10s linear infinite;
}

@keyframes circle {
   from {transform: rotateZ(0deg);}
   to{transform: rotateZ(360deg);}
}

/* design_pro */
#design_pro{
   height: inherit;
   height: 100%;
   display: flex;
   font-family: var(--eng-font);
   position: relative;
   padding-bottom: 240px;
}

#design_pro .frame_wrap .frameBox {background: rgba(0, 0, 0, 0.8);}

#design_pro .frame_wrap .frameBox{
   display: none; flex-direction: column; gap: 2rem;
   width: 80%; height: 100vh;
   position: absolute; left: 50%; top: 50%; right: 0;
   transform: translate(-50%, -50%);
   border-radius: 1rem; overflow: hidden;
}

#design_pro .frameBox iframe{
   width: 100%; height: 90%;

}

#design_pro .frameBox .frame_close button{
   display: block; width: 100%;
   text-align: end; padding: 2rem;
   color: red
}

#design_pro .frameBox .frame_close button i{font-size: 4rem;}

#design_pro .designPro_pin {
   width: 40%;
   height: 100vh;
   display: flex;
   flex-direction: column; gap: 6rem;
   justify-content: center; align-items: center;
   font-size: 6rem; color: #FFF;
   color: var(--deepyellow-color);

}

#design_pro .designPro_pin p {
   font-size: 1.8rem;
   font-family: 'Kopubworld','Pretendard','SUIT','NotoSansKR', sans-serif;
}
#design_pro .design_scroll{width: 60%;}
#design_pro .design_scroll ul {
   height: 100%; white-space: nowrap;
   display: flex; gap: 30px;
   flex-wrap: wrap; padding: 20px;
}

#design_pro .design_scroll li {
   width: calc(50% - 15px); height: 600px;
   display: flex; justify-content: center;
   font-size: 100px; padding: 3rem 0;
   background: var(--blackgray-color);
   border-radius: 20px;
}

#design_pro .design_scroll li:nth-child(2n) {
   transform: translateY(200px);
}


.design_scroll li .li_wrap{
   display: flex; flex-direction: column;
   align-items: center; gap: 1.8rem;
   width: calc(100% - 3rem);
   color: var(--main-color);
}

.design_scroll .li_wrap .title_box{
   display: flex; align-items: flex-end;
   justify-content: space-between;
   white-space: nowrap;
   width: calc(100% - 2rem);

}
.design_scroll .li_wrap .title_box span{
   font-size: 1.4rem; text-align: center;
   line-height: 1.4rem;
}
.design_scroll .li_wrap .title_box strong{
   font-size: 3.5rem; line-height: 3.5rem;
   color: var(--deepyellow-color);
}

.design_scroll li .img_box{
   display: block;
   width: 100%;
   height: 500px;
   overflow: hidden;
   border-radius: 1rem;
}
.design_scroll li .coding_box{
   position: relative;
   filter: brightness(0.6);
}


.design_scroll .li_wrap .coding_box p{
   display: block;
   color: var(--blackgray-color);
   font-weight: bold;
   font-size: 4rem;
   position: absolute;left: 50%; top: 50%;
   transform: translate(-50%, -50%);

}
.design_scroll li .img_box img{
   width: 100%;
   display: block;
   object-fit: cover;
}

.design_scroll li .img_box .coding_img{
   width: 100%; height: 100%;
   display: block;
   object-fit: cover;
}

.design_scroll li .img_box:hover{
   filter: brightness(0.8);
}

.design_scroll .pro_txtBox{
   display: flex; flex-direction: column;
   align-items: center; gap: 3rem;
   color: var(--main-color);
   margin-top: 1.2rem;

   padding: 1rem;
}
.design_scroll .pro_txtBox .txtBox_btns {display: flex; align-items: center; }

.design_scroll .pro_txtBox p{font-size: 2rem;}
.design_scroll .pro_txtBox span{font-size: 1.8rem;}

.design_scroll .pro_txtBox{white-space: nowrap;}

.design_scroll .pro_txtBox button a{
   display: block; width: 150px;
   color: var(--deepyellow-color);
   font-size: 1.4rem;
   border: 1px solid var(--deepyellow-color);
   border-radius: 2rem;
   padding: 0.5rem 1.5rem;

}



@media screen and (max-width: 1680px) {
   .design_scroll .pro_txtBox .title_box .game{font-size: 2.5rem;}
}

@media screen and (max-width: 1440px) {

   .design_scroll .pro_txtBox .title_box strong{font-size: 3.2rem;}
   .design_scroll .pro_txtBox .title_box .game{font-size: 2.4rem; line-height: 3.5rem;}
   .design_scroll .pro_txtBox p{font-size: 1.6rem;}
}
   /* design_exhib */

#design_exhib .inner{
   height: 100%;
   display: flex; flex-direction: column;
   align-items: center;
   justify-content: space-between;
   font-family: 'helvetica','Bell Mt';
   overflow-x: hidden;

}

.flow_content_wrap{
   overflow: hidden; width: 100vw;z-index: 1;
   border-bottom: 1px solid var(--main-color);
   opacity: 0.2;
}

.flow_content_wrap .flow_content{display: flex;}
.flow_content_wrap p{
   font-weight: 700;font-size: 150px; line-height: 150px;
   white-space: nowrap; margin-right: 50px ;
   color: var(--main-color);
   animation: flow 15s infinite linear;
}

@keyframes flow {
   form {transform: translateX(0%);}
   to {transform: translateX(-100%);}
}

.exhib_wrap{
   width: 1600px;
   display: flex; gap: 10rem;
   align-items: flex-start;
   justify-content: space-between;
   padding-bottom: 50px;
}

.exhib_left{
   display: flex; flex-direction: column; gap: 5rem;
   color: var(--main-color); }

.exhib_txt{
   display: flex; flex-direction: column;
   align-items: flex-start;
   gap: 2rem;
}
.exhib_txt strong{font-size: 6rem; line-height: 6rem; }
.exhib_txt p{font-size: 3rem; line-height: 3rem; }

.exhib_left .exhib_btns{
   display: flex; gap: 2rem;
   align-items: center;
}
.exhib_left .exhib_btns button{
   display: block; width: 14rem; height: 4rem;
   border: 1px solid var(--main-color);
   color: var(--main-color);
   font-size: 1.8rem;
   border-radius: 2rem;
   text-align: center;
}

.exhib_left .exhib_btns button:hover{
   color: var(--deepyellow-color);
   border: 1px solid var(--deepyellow-color);
}
.img_wrap {
   display: flex; flex-direction: column;
   align-items: flex-end; gap: 5rem;
}

.img_wrap li {
   display: flex; flex-direction: row; gap: 6rem;
   position: relative;
}

.img_wrap li img{
   width: 40rem; height: 55rem;
   border-radius: 1.5rem; object-fit: cover;
   border: 1px solid var(--blackgray-color);
   overflow: hidden;
   object-position:top
}

.img_wrap li::before{
   content: "";
   position: absolute; top: -8.2rem; left: 25%;
   height: 11rem;
   border: 1px solid var(--main-color);
   opacity: 0.2;
   z-index: -1;
}

.img_wrap li::after{
   content: "";
   position: absolute; top: -8.2rem; left: 75%;
   height: 11rem;
   border: 1px solid var(--main-color);
   opacity: 0.2;
   z-index: -1;
   }

   .img_wrap .viewBox a{
      display: block;
      font-family: var(--eng-font);
      font-size: 2rem;
      color: var(--main-color);
      padding-bottom: 2rem;
   }

#design_exhib .modal {
   display: none;
   position: fixed;
   z-index: 1000;
   left: 0; right: 0;
   bottom: -100%;
   width: 100%;
   height: auto;
   background: rgba(0, 0, 0, 0.8);
   transition: bottom 0.5s ease;
}
#design_exhib .modal .close{
   margin: 3rem 3rem 0 0 ;
}

#design_exhib .modalImg {
   margin: auto;
   display: block;
   max-width: 100%;
   max-height: 95vh;
   object-fit: cover;
}

#design_exhib .close {
   position: absolute;
   top: 10px;
   right: 15px;
   color: white;
   font-size: 30px;
   font-weight: bold;
}


/* footer */
footer{
   height: 60vh;
   color: var(--main-color);
   border-top: 1px solid var(--blackgray-color);
}

footer .inner{
   height: 100%;
   display: flex; flex-direction:column; gap: 8rem;
   align-items: flex-start;
   justify-content: center;

}

.contact_txt strong {
   font-size: 14rem; line-height: 16rem;
   font-family: 'helvetica','Bell Mt';
}

.contact_txt p{
   font-size: 4rem; line-height: 6rem;
   font-family: 'NotoSansKR','Pretendard','SUIT', sans-serif;
}

.contact_btnWrap {
   display: flex; gap: 3rem;
   align-items: center;

}

.contact_btn a{
   display: flex; align-items: center;
   justify-content: center;
   color: var(--main-color);
   font-size: 2rem;
   border: 1px solid var(--main-color);
   width: 18rem;
   border-radius: 5rem;
   padding: 1rem;
}

footer .copyBottom {
   position: absolute; bottom: 0; left: 50%;
   transform: translateX(-50%);
}


@media screen and (max-width: 1440px) {
   .contact_txt strong {font-size: 16rem; line-height: 16rem;}
   .contact_txt p {font-size: 3rem;}
   .contact_btnWrap { gap: 18rem;}
   .contact_btn{
      font-size: 3rem;
      width: 15rem; height: 5rem;
      border-radius: 5rem;
   }
}